h1{
   text-align: center;
}

ul{
  border:2px solid gray;
  margin: auto;
  padding-left: 0;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:480px;
  height:480px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.square{
  border:2px solid black;
  margin: 0;
  width:150px;
  height: 150px;
  background-color: gray;
  font-size: 100px;
  text-align: center;
}

.square:hover{
  background: yellow;
  transition: background 0.5s;
}
.ttt{
}

figcaption{
  text-align: center;
  font-size: 50px;
}

.x, .o{
  background: white;
}

.x:hover,
.o:hover {
  background: white;
  transition: background 0.5s;
}
